name: Tests
on:
  push:
    branches:
      - 'dev'
    paths:
      - 'api/**'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 17, 21 ]
    name: Ejecuta tests de Java ${{ matrix.java }}
    steps:
      - uses: actions/checkout@master
      - name: Set environment variables
        run: |
          echo "SPRING_DATASOURCE_URL=${{ vars.SPRING_DATASOURCE_URL }}" >> $GITHUB_ENV
          echo "SPRING_DATASOURCE_USERNAME=${{ vars.SPRING_DATASOURCE_USERNAME }}" >> $GITHUB_ENV
          echo "SPRING_DATASOURCE_PASSWORD=${{ vars.SPRING_DATASOURCE_PASSWORD }}" >> $GITHUB_ENV
          echo "SPRING_DATASOURCE_DB=${{ vars.SPRING_DATASOURCE_DB }}" >> $GITHUB_ENV

      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'liberica'
          java-version: ${{ matrix.java }}
      - run: sh -c "cd ./api && docker compose -f bdd-compose.yml up -d && mvn clean test"
